.navbar-default .navbar-brand {
  color: #ffffff !important;
}
.navbar-default {
    background-color: #007194;
    border-color: #007194;
}
.navbar-right {
  padding-right: 100px;
}
.jumbotron {
  margin-top: 65px;
}
.jumbotron p {
  margin: 0;
  padding: 0;
}

p.header-label {
  font-size: 21px;
  font-weight: bold;
}

.twitter-container ul {
  padding-top: 20px;
}
.twitter-container ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-container {
  width: 17%;
  float: left;
}
.twitter-trend {
  font-weight: bold;
  color: #0099CC !important;
}
.tweet-data {
  width: 83%;
  float: left;
}
.profile-image {
  border-radius: 50%;
}
p .username {
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
}
p .screenname,p .created-date {
  font-size: 14px;
  color: #657786;
}
.tweet-data p .tweet-text {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: normal !important;
  
}

md-icon .glyphicon .glyphicon-chevron-up{
  top:4px !important;
}
.md-button.md-fab {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.app-loader {
    background: url('/images/loader.gif') center center no-repeat #fff;
    background-size: 12rem 12rem;
    position: fixed;
    z-index: 10007;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: .6
}



